:root {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: "Parkinsans", sans-serif;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #d1cfcf;
  width: 100%;
}
header .logo {
  padding: 2rem;
  width: 400px;
  margin-top: 1rem;
  font-size: 1.8rem;
}

header .logo a {
  font-weight: bold;
  color: #887927;
  text-decoration: none;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 950px;
  list-style: none;
  padding: 2rem;
}
header ul a {
  text-decoration: none;
  color: #887927;
}
header a:hover {
  color: #887927;
  text-shadow: 0 0.2rem 0.5rem #887927;
}
h1 {
  color: #887927;
  padding: 2rem;
  width: 400px;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 950px;
  list-style: none;
  padding: 2rem;
  font-size: 1.8rem;
}

.dropdown {
  position: relative;
}
.dropdown-menu {
  opacity: 0;
  position: absolute;
  top: 0;
  margin-top: 2rem;
}
.dropdown-menu:hover {
  opacity: 1;
  display: block;
  background-color: #fff4f4a9;
  width: 200px;
}

.container {
  height: 950px;
  background-image: url(./images/fantasy-astral.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10rem;
  .text {
    color: #bbb9b0ec;
    padding: 2rem;
    text-shadow: 0 0 0.5rem #806d02;

    h2 {
      font-size: 4rem;
      margin: 2rem 0;
    }
    pre {
      font-size: 2rem;
    }
  }
}
.zodiac-circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 50%;
  width: 800px;
  height: 800px;
  margin: 15rem auto;
  animation: rund-zodiac 5s 1s infinite;
  img {
    width: 800px;
    height: 800px;
  }
}
@keyframes rund-zodiac {
  from {
    rotate: 360deg;
  }
}

.zodiac-circle:hover {
  transform: scale(1.05);
  background: linear-gradient(#ff3c00, #725401, #00d9ff, #0066ff);
}

.zodiac-signs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 400px);
  gap: 2rem;
  width: 80%;
  margin: 15rem auto;
  padding: 10rem 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: orangered;
  text-shadow: 0 0.2rem 0.2rem #a17d39;
}
.zodiac-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  gap: 2rem;
  width: 80%;
  margin: 15rem auto;
  padding: 10rem 0;
  img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 6rem 0;
  }
  img:hover {
    box-shadow: 0 1px 1rem 6px #806d02;
    transform: scale(1.05);
  }
  p {
    margin: auto;
    color: white;
    text-align: center;
    margin-top: 1rem;
  }
}

.container-form {
  color: #a3943e;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 15rem;
  padding: 5rem;
  h1 {
    margin: 5rem;
    color: #e9d358;
    text-shadow: 0 0.2rem 0.3rem gold;
  }
}
form {
  width: 80%;
  margin: 2rem auto;
  height: 80rem;
  font-size: 2rem;
  div {
    margin: 2rem;
    text-align: center;
  }

  legend {
    padding: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
  }
  label {
    display: flex;
    justify-content: center;
    color: #887927;
    margin: 1rem;
  }
  input,
  select {
    padding: 2rem;
    width: 50%;
    background-color: #d1d1d1;
    font-size: 1.8rem;
    color: #75530b;
  }
  input:hover,
  select:hover {
    outline: 3px solid goldenrod;
  }

  .date input {
    font-size: 2rem;
  }
  button {
    width: 50%;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: #d1d1d1;
    a {
      color: #75530b;
    }
  }
  button:hover {
    transform: scale(1.05);
    cursor: pointer;
    outline: 3px solid goldenrod;
  }
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: #e9d358;
    margin: 2rem 0.5rem;
    align-items: center;
  }
  a:hover {
    color: #75530b;
  }
}

@media (max-width: 800px) {
  .zodiac-signs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header {
    flex-direction: column;
  }
  .navbar .nav-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #333;
    display: none;
    padding: 1rem;
  }
  .navbar .nav-links.active {
    display: flex;
  }
}
